.heading {
  margin-top: 6rem;
  text-align: center;
  color: #154631;
  box-shadow: 0px -2px 2px rgba(25, 65, 17, 0.75);
  padding-top: 2rem;
}

.articles {
  margin: 1.5rem;
  width: 100%;
  display: grid;
}

.article {
  width: 80%;
  background-color: white;
  height: auto !important;
  border-radius: 10px;
  display: flex;
  margin: 1.7rem auto;
  box-shadow: 0px 2px 15px rgba(94, 94, 94, 0.144);
}

.image {
  width: 30%;
  padding: .5rem .5rem;
}

.image img {
  max-width: 100%;
  border-radius: 10px;
  max-height: 100%;
}

.image:hover {
  padding: 0 0;
  transition: padding 1s ease;
}

.content {
  width: 70%;
  padding: 1rem 1rem;
  display: grid;
}

.sentiment {
  color: green;
  font-weight: 600;
}

.btn {
  height: 80%;
  background-color: rgb(241, 252, 244);
}

.article-link {
  text-decoration: none;
  color: #4cca94;
  font-weight: 600;
}