.heading {
  margin-top: 7rem;
  text-align: center;
  color: #154631;
}

.articles {
  margin: 1.5rem;
  width: 100%;
  display: grid;
}

.article {
  width: 80%;
  height: auto !important;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  margin: 1rem auto;
}

.image {
  width: 30%;
  border-right: 1px solid black;
  padding: 1rem 1rem;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.content {
  width: 70%;
  padding: 1rem 1rem;
  display: grid;
}