.heading {
  margin-top: 7rem;
  text-align: center;
  color: #154631;
}

.articles {
  margin: 1.5rem;
  width: 100%;
  display: grid;
  z-index: 1;
}

.article {
  width: 80%;
  background-color: white;
  height: auto !important;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  margin: 1rem auto;
}

.image {
  width: 30%;
  border-right: 1px solid black;
  padding: 1rem 1rem;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.content {
  width: 70%;
  padding: 1rem 1rem;
  display: grid;
}

.article-container {
  position: relative;
  overflow: hidden;
}

.newsVid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}