.heading {
    margin-top: 7rem;
    text-align: center;
    color: #154631;
}

.dashboard {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.map {
    flex: 1;
    /* Take up all available horizontal space */
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 2rem;
    height: 690px;
}

.results {
    width: 20%;
    height: 40vh;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.buttons {
    background-color: #154631 !important;
    width: 100%;
    margin-top: 1rem;
}

.buttons:hover {
    background-color: #27865d !important;
    transition: .4s ease;
}

/* Add this CSS to your Dashboard.css */

.crop-info-container {
    max-height: 300px;
    /* Set the maximum height for in-container scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.crop-info {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.rotation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.rotation-table th,
.rotation-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

/* Add more CSS styles as needed */