@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* Set the width for the navbar */
}

.nav-item {
    transition: font-size .3s ease-out;
}

.nav-item:hover {
    font-size: 24px;
}

nav.scrolled {
    background-color: darkgreen;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

nav .navbar .logo a {
    color: #51fc4b;
    font-size: 34px;
    font-weight: 600;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* Evenly space the elements */
    align-items: center;
    width: 80%;
    /* Set the width for the navbar */
    /* ... other styles ... */
}

.menu-left {
    margin-left: 10%;
}

.menu-right {
    margin-right: 10%;
}

.menu-left,
.menu-right {
    display: flex;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    color: #67ca67;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}